<div class="container">
    <div class="head-top">
        <div class="logo">
            <h1>GAIYO</h1>
        </div>
        <div class="icons">
            <img  src="../../../assets/icones/user.png" alt="">
            <img  src="../../../assets/icones/search.png" alt="">
            <img src="../../../assets/icones/heart.png" alt="">
            <img  src="../../../assets/icones/shopping-cart.png" alt="">
        </div>
    </div>
    <div class="head-bot">
        <div class="routes">
            <a href="#">SHOP</a>
            <a href="#">SERIES</a>
            <a href="#">CLOTHING</a>
            <a href="#">ACCESSORIES</a>
            <a href="#">CUSTOMER SERVICE</a>
            <a href="#">ABOUT US</a>
            <a href="#">CONTACT</a>
            <a href="#">COVID-19</a>
            <a id="sale" href="#">sale</a>
        </div>
    </div>
</div>