.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.head-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
}
.logo h1{
    color: red;
    cursor: pointer;
    outline: none;
    font-size: 30px;
    font-weight: bolder;
}
.icons{
    position:absolute;
    right: 30px;
    top: 8px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
}
.icons img{
    width: 22px;
}

.head-bot{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.routes{
   
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    
    
}
.routes a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 4px;
    font-size: 12px;
}
#sale {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 3px;
    width: 50px;
    text-align: center;
}

@media only screen and (max-width: 905px) {
    .head-bot{
        display: none;
    }
    
}