<div class="container">
    <span class="f-insta">FEATURED INSTAGRAM</span>
    <div class="products">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
        <img src="../../../assets/images/img.jpg" alt="">
    </div>
    
</div>