<div class="container">
    <p id="title">SHOPPING CART</p>
    <div class="prdct-details">
        <div class="prdct-quantity">
            <p>PRODUCT</p>
            <p>QUANTIY</p>
            <p>TOTAL</p>
        </div>
        <div id="bar"></div>
        <div class="prdct-description">
            <div class="merch-description">
                <object data="../../../assets/images/merch.svg" type=""></object>
                <div class="description">
                    <p id="prdct-name">EVANGRLION EVA COLORBLOCK HOODIE</p>
                    <p>XS</p>
                    <span>$88</span>
                </div>
            </div>
            <div class="quantity">
                <div class="number">
                    <span>-</span>
                    <span>1</span>
                    <span>+</span>
                </div>
                <object id="delete" data="../../../assets/images/delete.svg" type=""></object>
            </div>
            <div class="total">
                <p>$88.00</p>
            </div>
        </div> 
        <div id="bar"></div> 
        <div class="add-order">
            <div class="order">
                <p>Add Order Note</p>
                <input type="text" placeholder="How can we help you?">
            </div>
            <div class="checkout">
                <p id="price">TOTAL: $88.00</p>
                <p id="shipping">Shipping & Taxes calculated at checkout </p>
                <button>CHECKOUT</button>
            </div>
        </div>
    </div>
</div>