<div class="container" >
    <div class="head" >
        <span class="title" >SIGN UP</span>
        <span class="desc">Please join Gaiyo! It's only one click away!</span>
    </div>
    <div class="inputs" >
        <div class="login-mail">
            <label > Email </label>
            <input type="text" >
        </div>
        <div class="login-mail">
            <label > User Name </label>
            <input type="text" >
        </div>
        <div class="login-mail">
            <label > Password </label>
            <input type="password" >
        </div>
        <div class="login-mail">
            <label > Birthday </label>
            <div class="birthday">
                <select name="days" id="birthday">
                    <option value="days">days</option>
                    <option value="junary">31</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                    <option value="month">30</option>
                </select>
                <select name="month" id="birthday">
                    <option value="month">month</option>
                    <option value="junary">junary</option>
                    <option value="junary">junary</option>
                    <option value="junary">junary</option>
                    <option value="junary">junary</option>
                    <option value="junary">junary</option>
                    <option value="junary">junary</option>
                    <option value="month"></option>
                </select>
                <select name="year" id="birthday">
                    <option value="year">year</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2020">2020</option>
                    <option value="2020">2020</option>
                    <option value="2020">2020</option>
                    <option value="2020">2020</option>
                    <option value="2020">2020</option>
                </select>
            </div>
        </div>
    </div>
    <div class="genterms">
        <div class="gender" >
            <div>
                <input type="radio" >
                <label>Male</label>
            </div>
            <div>
                <input type="radio" >

                <label>Female</label>
            </div>
            <div>
                <input type="radio" >
                <label>Other</label>
            </div>
        </div>
    
        <div class="terms" >
            <input type="checkbox">
            <label >Yes, keep me posted on 
                    updates related to Betweenatna.</label>
        </div>
</div>
    
        
    
    <div class="create" >
        <input type="button" value="Create Account">
    </div>
    <div class="tpolicy" >
        <span>By clicking "Create Account" below, you agree to the <a href="#">Terms of Service</a>  and <a href="#">Privacy Policy</a> .</span>
    </div>
</div>