<div class="container" >
    <div class="head" >
        <span class="title" >SIGN UP</span>
        <span class="desc">Please join Gaiyo! It's only one click away!</span>
    </div>
    <div class="inputs" >
        <div>
            <label > Email </label>
            <input type="text" >
        </div>
        <div>
            <label > User Name </label>
            <input type="text" >
        </div>
        <div>
            <label > Password </label>
            <input type="password" >
        </div>
        <div>
            <label > Birthday </label>
            <input type="text" >
        </div>
    </div>
    <div class="genterms">
        <div class="gender" >
            <div>
                <input type="radio" >
                <label>Male</label>
            </div>
            <div>
                <input type="radio" >

                <label>Female</label>
            </div>
            <div>
                <input type="radio" >
                <label>Other</label>
            </div>
        </div>
    
        <div class="terms" >
            <input type="checkbox">
            <label >Yes, keep me posted on 
                updates related to Betweenatna.</label>
        </div>
</div>
    
        
    
    <div class="create" >
        <input type="button" value="Create Account">
    </div>
    <div class="tpolicy" >
        <span>By clicking "Create Account" below, you agree to the <a href="#">Terms of Service</a>  and <a href="#">Privacy Policy</a> .</span>
    </div>
</div>