<div class="container">
    <div class="shop-collections">
        <div class="shop">
            <span id="title">SHOP ALL</span>
            <p>Beanies</p>
            <p>Hates</p>
            <p>Socks</p>
            <p>Bags</p>
            <p>Face Masks</p>
            <p>Lapel Pins</p>
            <p>Keychains</p>
            <p>Stickers</p>
        </div>
        <div class="collection">
            <span id="title">COLLECTIONS</span>
            <p>Black Clover</p>
            <p>Dragon Ball Z</p>
            <p>Naruto</p>
            <p>Hunter x Hunter</p>
            <p>One Piece</p>
            <p>Attack on Titan</p>
        </div>
    </div>
    <div class="prdct">
        <app-product-img></app-product-img>
        <app-product-img></app-product-img>
    </div>
</div>