.container{
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-between;
}
.shop-collections{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 30px;
}
.shop{
    display: flex;
    justify-content: space-between;
    height: 370px;
    flex-direction: column;
}
.collection{
    display: flex;
    justify-content: space-between;
    height: 280px;
    flex-direction: column;
}
#title{
    letter-spacing: 1px;
    color:#707070
}
.prdct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;

}