.container{
    display: flex;
    flex-direction: column;
    width: 330px;
    font-family: 'Segoe UI';
    
}
span{
    padding-bottom: 10px;
}
.title{
    padding-bottom: 50px;
    font-size: 40px;
    letter-spacing: 10px;
}
.email-username{
    display: flex;
    flex-direction: column;

}
.email-username input{
    width: 100%;
    height: 40px;
    outline: none;
}

.password{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.password input{
    width: 100%;
    height: 40px;
    outline:none;
    border: 1px solid gray;
}
.login-butt input{
    width: 103%;
    height: 60px;
    background-color: black;
    border:none;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.sign-fb{
    width: 103%;
    height: 40px;
    display: flex;
    margin-top: 10px;
}
.sign-fb input{
    width: 100%;
    height: 100%;
    background-color: #0070FF;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.sign-fb img{
    position: absolute;
    width: 30px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.sign-g {
    width: 103%;
    height: 40px;
    display: flex;
    margin-top: 25px;
    cursor: pointer;
}
.sign-g input{
    width: 100%;
    height: 100%;
    background-color:#D72323;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.sign-g img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
}
.forgot-password{
    display: flex;
    width: 400pxpx;
    justify-content: space-between;
}
#text-color{
    color: #9C9999;
}
@media screen and (max-width: 1200px){
    .container{
        width: 430px;
        
       margin-left: 100px;
    }
}
@media screen and (max-width: 600px){

    .container{
        width:  250px;
        margin-left: 0px;
    }
}