<div class="container" >

    <div class="title" >
        <span>LOGIN</span>
    </div>

    <div class="email-username" >
        <span>Email or Username</span>
        <input type="text">
    </div>
    <div class="password" >
        <span>Password</span>
        <input type="password">
    </div>
    <div class="login-butt" >
        <input routerLink = "/myaccount" type="button" value="Log-in" >
    </div>
    <div class="sign-fb" >
        <img src="../../../assets/icones/facebook-login.png" alt="">
        <input type="button" value="Sign in with Facebook">
    </div>
    <div class="sign-g" >
        <img src="../../../assets/icones/google-login.png" alt="">
        <input type="button" value="Sign in with Google">
    </div>

</div>
