<div class="container">
    <div class="titles">
        <p>March 23,2O2O</p>
        <p id="subtitle">An update to our friends and family,</p>
    </div>
    <div class="context">
        <p >
            As you know, most of our upcoming events and conventions are cancelled or re-scheduled because of the COVID-19 virus.
            In the meantime, kaomoji will continue operating to fulfill your orders. Although we are a small team of 3 people,
            we will work hard to ship your order asap. One of us is working from home and the other two are working at the
            office. We bring the packages to the post office 2-3 times a week. Mostly on Monday, Wednesday and Friday. Much
            like the rest of you, we too will monitor the situations closely and update you if any developments will occur. 
            Stay tuned for any updates on this page and social media.
            </p>
            <p style="margin-top:20px ;" >Stay safe and hope to see you soon!
            </p>
            <div class="cordially">
                <p>With love,</p>
                <p >James, Leticia, Quentin</p>
            </div>
            <div class="shop">
                <button>SHOP</button>
            </div>
    </div>
    <div class="survey-covid"> 
         <div id="header">Frequently asked questions about COVID-19 </div>
         <div class="question">
             <p>+ Will the facemasks protect me against the virus?</p>
             <p>+ Will deliveries be affected due to COVID-19?</p>
             <p>+ Delays and cancelled routes</p>
             <p>+ Important information for orders to The Netherlands.</p>
         </div>
    </div>
</div>