.series{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.images{
    margin-top: 40px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.naurto-dragonball{
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hunter-onepice{
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#h-title{
    letter-spacing: 1px;
}
.titles{
    display: flex;  
    width:64%;
    justify-content: space-between;
}
.shop-all{
    width: 50%;
}
.a-titles p{
    height: 50px;
}
.a-titles{
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}