<div class="container">
    <div class="series">
        <div class="featured">
            <span id="h-title">FEATURED</span>
            <div  class="images">
                <div class="naurto-dragonball">
                    <div class="naruto">
                        <object data="../../../assets/images/naruto.svg" type=""></object>
                        <p>NARUTO</p>
                    </div>
                    <div class="dragon-ball">
                        <object data="../../../assets/images/dragon ball.svg" type=""></object>
                        <p>DRAGON BALL</p>
                    </div>
                </div>
                <div class="hunter-onepice">
                    <div class="hunter">
                        <object data="../../../assets/images/hunter.svg" type=""></object>
                        <p>HUNTER X HUNTER</p>
                    </div>
                    <div class="onepice">
                        <object data="../../../assets/images/onepice.svg" type=""></object>
                        <p>ONE PIECE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-all">
            <div class="titles">
                <span id="h-title" style="color:#707070">SHOP ALL</span>   
            </div>
            <div class="a-titles">
                <p>Attack on Titan</p>
                <p>Berserk</p>
                <p>Black Clover</p>
                <p>Bleach</p>
                <p>Demon Slayer</p>
                <p>Digimon</p>
                <p>Dragon Ball Z</p>
                <p>Dr Stone</p>
                <p>Fire Force</p>
                <p>Hunter x Hunter</p>
                <p>Inuyasha</p>
                <p>Jojo's Bizarre Adventure</p>
                <p>Mob Pshyco</p>
                <p>My Hero Academia</p>
                <p>Naruto</p>
                <p>One Piece</p>
                <p>Re:Zero</p>
                <p>Sword Art Online</p>
                <p>The Promised Neverland</p>
                <p>Tokyo Ghoul</p>
                <p>Seven Deadly Sins</p>
            </div>
        </div>
    </div>
</div>