.prdct{
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.prdct object{
    width: 300px;
    height: 250px;
}
#just-add{
    letter-spacing: 1px;
    color:#707070
}
