.container{
    height: 350px;
    width: 50%;
    padding-top: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#title{
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    width: 400px;
}
#context{
    letter-spacing: 2px;
}
#add-adress{
    background-color: black;
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: groove;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    outline: none;
}
#back{
    letter-spacing: 3px;
    border: none;
    background-color: white;
    color: grey;
    width: 200px;
    border: none;
    cursor: pointer;
    outline: none;
}