.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titles{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#title-adress{
    font-size: 30px;
}
#title-fill{
    font-size: 15px;
}
.fill{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 30px;
    width: 625px;
}
#formulare{
    height: 60px;
    width:600px;
    padding-left: 20px;
}
.select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#country{
    height: 60px;
    width: 250px;
    padding-left: 20px;
}
.check-adress{
    padding-left: 25px;
    margin-top: 20px;
    width: 200px;
}
.add-adress button{
    background-color: black;
    height: 60px;
    width:622px;
    display: flex;
    margin-top: 30px;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
