<div class="container">
    <div class="titles">
        <span id="title-adress">ADD A NEW ADDRESS</span>
        <p id="title-fill">please fill in the informations below:</p>
    </div>
    <div class="fill">
        <input type="text" placeholder="First Name" id="formulare">
        <input type="text" placeholder="Last Name" id="formulare">
        <input type="text" placeholder="Company" id="formulare">
        <input type="number" placeholder="Phone" id="formulare">
        <input type="text" placeholder="Address 1" id="formulare">
        <input type="text" placeholder="Address 2" id="formulare">
        <input type="text" placeholder="City" id="formulare">
        <div class="select">
            <input type="text" placeholder="Country/Region" id="country">           
            <input type="text" placeholder="Zip Code" id="country">
        </div>
    </div>
    <div class="check-adress">
        <input type="checkbox" id="check">
        <label for="check">Set as default address</label>
    </div>
    <div class="button">
        <p>ADD A NEW ADDRESS</p>
    </div>
</div>