<div class="container">
    <span id="title">SHOPPING CART</span>
    <div class="merch-description">
        <object data="../../../assets/images/merch.svg" type=""></object>
        <div class="description">
            <div class="delete-text">
                <p>EVANGRLION EVA COLORBLOCK HOODIE</p>
                <object id="delete" data="../../../assets/images/delete.svg" type=""></object>
            </div>
            <p>M</p>
            <div class="price" >
                <p>3 X</p>
                <span id="merch-price">$45.00</span>
            </div>
        </div>
    </div>
    <div class="merch-description">
        <object data="../../../assets/images/merch.svg" type=""></object>
        <div class="description">
            <div class="delete-text">
                <p>EVANGRLION EVA COLORBLOCK HOODIE</p>
                <object id="delete" data="../../../assets/images/delete.svg" type=""></object>
            </div>
            <p>M</p>
            <div class="price" >
                <p>3 X</p>
                <span id="merch-price">$45.00</span>
            </div>
        </div>
    </div>
    <div id="bar"></div>
    <div class="shopping-cart">
        <div class="total">
            <p>TOTAL:</p>
            <p>$270.00</p>
        </div>
        <div class="view-cart">
             <div class="proceed-checkout">
                <button>PROCEED TO CHECKOUT</button>
            </div>
            <p id="cart">VIEW CART</p>
        </div>
    </div>
</div>