#title{
    letter-spacing: 1px;
    margin-left: 18px;
    font-size: 22px;
}
.merch-description{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-top: 20px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.merch-description object{
    height: 180px;
    width: 200px;
}
.price{
    display: flex;
    width: 73px;
    justify-content: space-between;
}
#delete{
    width: 50px;
    height: 50px;
}
.delete-text{
    width:300px;
    display: flex;
    justify-content: space-between;
}
#bar{
    width: 100%;
    height: 1px;
    background-color: grey;
}
.shopping-cart{
    display: flex;    
    justify-content: space-between;
    flex-direction: column;
    height: 160px;
    margin-top: 20px;
}
.total{
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-left: 20px;
}
.total p {
    font-size: 20px;
    font-weight: bold;
}
.proceed-checkout button{
    background-color: black;
    height: 80px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: 'ExtraLight';
}
.view-cart{
    width: 740px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#cart{
    font-size: 13px;
    font-weight: bold;
}
#merch-price{
    color: red;
    font-weight: bold;
}