<div class="container">
    <div class="footer">
        <object id="anime-char" data="../../assets/images/anime.JPG" type=""></object>
        <div class="about-shop">
            <h1 id="title">ABOUT THE SHOP</h1>
            <p id="subtitle">Atsuko is a retail experience created for fans of all things Japanese lifestyle and culture. We carry exclusive officially licensed apparel, accessories, and more.</p>
            <p id="subtitle">The store is run by our namesake herself, Atsuko, and her fuzzy little companion, Nuki. They’re here to make sure you feel welcome and find everything you’re looking for.</p>
        </div>   
        <div class="helpful">
            <h1 id="title">HELPFUL LINKS </h1>
            <ul id="links">
                <li>Sign In</li>
                <li>Clothing</li>
                <li>Accessories</li>
                <li>About Gaiyo</li>
                <li>Sale</li>
            </ul>
        </div> 
        <div class="customer-service">
            <h1 id="title">CUSTOMER SERVICE </h1>
            <ul id="links">
                <li>FAQ's</li>
                <li>Returns & Exchanges</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>Contact Us</li>
            </ul>
        </div> 
        <div class="newsteller">
            <h1 id="title">NEWSTELLER </h1>
            <p id="subtitle">Subscribe to access to exclusive deals, and more.</p>
            <input id="add-mail" type="email" placeholder="Enter your email address">
            <button id="subscribe">SUBSCRIBE</button>
            <div class="social-media">
                <p id="title">Follow Us :</p>
                <object id="icones" data="../../assets/icones/facebook.svg" type=""></object>
                <object id="icones" data="../../assets/icones/twitter.svg" type=""></object>
                <object id="icones" data="../../assets/icones/instagram.svg" type=""></object>
                <object id="icones" data="../../assets/icones/discord.svg" type=""></object>
            </div>
        </div>
    </div>
</div>