<div class="container">
    <div class="footer">
        <div class="about-shop">
            <h1 id="title">ABOUT THE SHOP</h1>
            <p id="subtitle">Atsuko is a retail experience created for fans of all things Japanese lifestyle and culture. We carry exclusive officially licensed apparel, accessories, and more.The store is run by our namesake herself, Atsuko, and her fuzzy little companion, Nuki. They’re here to make sure you feel welcome and find everything you’re looking for.</p>
        </div>   
    </div>
</div>