.container{
    background-color: black;
    padding: 40px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.helpful{
    padding-top: 20px;
    width: 300px;
}
.customer-service{
    width: 300px;
    padding-top: 20px;
}
.about-shop{
    height: 320px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}
.newsteller{
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding-top: 20px;
}
.social-media{
    display: flex;
    width: 240px;
    justify-content: space-evenly;
}
#title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#subtitle{
    font-size: 20px;
    color:red
}
#links{
    font-size: 20px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    margin-top: 40px;
}
#icones{
    width: 24px;
}
#add-mail{
    height: 50px;
}
#subscribe{
    width: 120px;
    height: 40px;
    color:white;
    background-color: red;
    border: none;
    cursor: pointer;
    outline: none;
}
#anime-char{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 310px;
    top: 170px;
}