<div class="container">
    <div class="about">
        <h1>ABOUT THE SHOP</h1>
        <p>
            Atsuko is a retail experience created for fans of all things Japanese lifestyle
            and culture. We carry exclusive officially licensed apparel, accessories, and more.
            The store is run by our namesake herself, Atsuko, and her fuzzy little companion, Nuki.
             They’re here to make sure you feel welcome and find everything you’re looking for.
        </p>
    </div>
    <div class="h-links">
        <h1>HELPFUL LINKS</h1>
        <div class="links">
            <a href="#">Sign In</a>
            <a href="#">Clothing</a>
            <a href="#">Accessories</a>
            <a href="#">About Gaiyo</a>
            <a href="#">Sale</a>
        </div>
    </div>
    <div class="c-services">
        <h1>CUSTOMER SERVICE</h1>
        <div class="services">
            <a href="#">FAQ's</a>
            <a href="#">Returns & Exchanges</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <div class="newsletter">
        <h1>NEWSLETTER</h1>
        <p>Subscribe to access to exclusive deals, and more.</p>
        <input class="e-input" type="text" name="email" placeholder="Enter your email address">
        <button class="sub-btn">SUBSCRIBE</button>
        <div class="social">
            <span>Follow Us : </span>
            <div class="icons">
                <object class="s-icon" data="../../assets/icones/facebook.svg" type=""></object>
                <object class="s-icon" data="../../assets/icones/twitter.svg" type=""></object>
                <object class="s-icon" data="../../assets/icones/instagram.svg" type=""></object>
                <object class="s-icon" data="../../assets/icones/discord.svg" type=""></object>
            
            </div>
            </div>
    </div>
</div>