<div class="container">
    <div class="merch-cercles">
        <object id="cercles" data="../../../assets/images/circles.svg" type=""></object>
        <object id="merch" data="../../../assets/images/merch.svg" type=""></object>
    </div>
    <div class="details">
        <div class="product-code">
            <p id="code">Product Code: </p>
            <p id="scan">U5963451</p>
        </div>
        <div class="title">
            <p id="prdct-name">EVANGELION EVA COLORBLOCK HOODIE</p>
            <div class="product-code">
                <p id="code">Availability:  </p>
                <p id="stock">In Stock</p> 
            </div>
        </div>
        <div id="bar"></div>
        <div class="price">
            <p>$88</p>
            <p id="solde">$1,199.00</p>
        </div>
        <div id="bar"></div>
        <div class="size-color">
            <select name="size" id="size">
                <option value="SIZE">SIZE: XS</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
            <select name="color" id="color">
                <option value="color">Color :</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
            <div class="number">
                <span>-</span>
                <span>1</span>
                <span>+</span>
            </div>
            <div class="button">
                <div class="add-to-cart">
                    <button> ADD TO CART</button>
                </div>
                <div class="like">
                    <button><object data="../../../assets/images/like.svg" type=""></object></button>
                </div>
            </div>
        </div>
        <div class="fabric">
            <p>Fabric Details :</p>
            <ul id="fabric-details">
                <li>- Traditional screen print</li>  
                <li>- Hai Domo graphic on front and back</li>  
                <li>- Thumb a in the cuffs</li>  
                <li>- Kangaroo pouch pocket</li>  
                <li>- Hanging loop at back neck</li>  
            </ul>
        </div>
    </div>
</div>