<div class="container">
    <div class="color-names">
        <span>WHITE:</span>
        <span>RED:</span>
        <span>BLACK:</span>
        <span>PURPLE:</span>
        <span>BLUE:</span>
        <span>YELLOW:</span>
    </div>
    <div class="color-demonstration">
        <object id="demonstration" data="../../../assets/images/white.svg" type=""></object>
        <object id= "demonstration" data="../../../assets/images/red.svg" type=""></object>
        <object id= "demonstration" data="../../../assets/images/black.svg" type=""></object>
        <object id= "demonstration" data="../../../assets/images/purple.svg" type=""></object>
        <object id= "demonstration" data="../../../assets/images/blue.svg" type=""></object>
        <object id= "demonstration" data="../../../assets/images/yellow.svg" type=""></object>
    </div>
</div>