<div class="container">
    <div class="add-cart">
        <span id="title">ADDED TO CART SUCCESSFULLY</span>
        <object data="../../../assets/images/merch.svg" type=""></object>
        <p>EVANGELION EVA COLORBLOCK HOODIE</p>
        <div class="price">
            <p>1</p>
            <p>x</p>
            <p id="merch-price">$88.00</p>
        </div>
        <div id="bar"></div>
    </div>
    <div class="total-price">
        <div class="total-items">
            <p>there are 2 items in your cart</p>
            <p id="merch-price">TOTAL: $230.00</p>
        </div>
        <div class="shopping">
            <div class="button">
                <p>CONTINUE SHOPPING</p>
            </div>
            <div class="button" id="view-cart">
                <p>VIEW CART</p>
            </div>
            <div class="button">
                <p>PROCEED TO CHECKOUT</p>
            </div>
        </div>
    </div>
</div>