<div class="container">
    <div class="shop-collections">
        <div class="shop">
            <span id="title">SHOP ALL</span>
            <p>T-shirt</p>
            <p>Long Sleeves</p>
            <p>Hoodies & Fleece</p>
            <p>Jackets</p>
            <p>Bottoms</p>
            <p>Woven,Noraji & Kimonos</p>
        </div>
        <div class="collection">
            <span id="title">COLLECTIONS</span>
            <p>Black Clover</p>
            <p>Dragon Ball Z</p>
            <p>Naruto</p>
            <p>Hunter x Hunter</p>
            <p>One Piece</p>
            <p>Attack on Titan</p>
        </div>
    </div>
    <div class="prdct">
        <app-product-img></app-product-img>
        <app-product-img></app-product-img>
    </div>
</div>